.controlPane {
  background-color: white;
  border-radius: 8px;
  border-right: white solid 4px;
  margin-bottom: 32px;
  overflow-x: auto;
  padding: 24px;
  padding-top: 18px;
  position: relative;
  white-space: nowrap;
}

.title {
  left: 0;
  margin: 0;
  padding-bottom: 16px;
  position: sticky;
}

.metadata {
  color: hsl(0deg, 0%, 30%);
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 16px;
}
